name: 'Test MATLAB bindings'

on: 
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - "*"

jobs:
  test-solverdummies:
    name: Test MATLAB solverdummmies
    runs-on: ubuntu-latest
    # container: precice/precice:develop # does not work somehow because of sudo
    # see e.g. https://github.com/precice/matlab-bindings/actions/runs/4366307887/jobs/7636136347
    strategy:
      fail-fast: true
      matrix:
        include:
        - release: latest
        - release: R2023b
        - release: R2023a
        - release: R2022b
        - release: R2022a
        - release: R2021b
        # - release: R2021a # throws an error: https://github.com/precice/matlab-bindings/pull/42
    steps:

      - name: install precice
        uses: precice/setup-precice-action@main
        with:
          precice-version: 'v3.0.0'

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1
        with: 
          release: ${{ matrix.release }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run compilation script
        uses: matlab-actions/run-command@v1
        with:
          command: compile_matlab_bindings_for_precice

      - name: Run Solverdummies
        shell: bash
        run: |
          export LD_PRELOAD="/usr/lib/x86_64-linux-gnu/libstdc++.so.6:/usr/lib/x86_64-linux-gnu/libgfortran.so.5"
          matlab -sd "./solverdummy" -batch "addpath('../'); solverdummy precice-config.xml SolverOne;" & matlab -sd "./solverdummy" -batch "addpath('../'); solverdummy precice-config.xml SolverTwo;"
  
  test-tutorial:
    name: Test MATLAB Tutorials
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
        - release: latest
        - release: R2023b
        - release: R2023a
        - release: R2022b
        - release: R2022a
        - release: R2021b
        # - release: R2021a
    steps:

      - name: install precice
        uses: precice/setup-precice-action@main
        with:
          precice-version: 'develop'

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1
        with: 
          release: ${{ matrix.release }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run compilation script
        uses: matlab-actions/run-command@v1
        with:
          command: compile_matlab_bindings_for_precice

      - name: Run Tutorials
        run: |
          export LD_PRELOAD="/usr/lib/x86_64-linux-gnu/libstdc++.so.6:/usr/lib/x86_64-linux-gnu/libgfortran.so.5"
          matlab -sd "./tutorial/implicit" -batch "addpath('../../'); Solver_I;" & matlab -sd "./tutorial/implicit" -batch "addpath('../../'); Solver_U;"

